/* .subheading {
    background: #ada8a8ad;
    border-radius: 20px;
    background-clip: border-box;
    padding: 3px;
    padding-left: 9px;
    padding-right: 9px;
    display: inline !important;
    color: saddlebrown !important;
}

.sidebar-container .short-about img{
    width:100%;
    display:initial !important;
} */

/* Title principal */
/* @media only screen and (min-width:400px){
    .site-heading h1 {
        font-size: 45px !important;
    }
}
@media only screen and (min-width:900px){
    .site-heading h1 {
        font-size: 80px !important;
    }
} */
/* .site-heading h1 {
    font-family: KeeponTruckin !important;
    color: honeydew !important;
} */

@font-face {
    font-family: "et-book";
    /* src: url("font/Allerta-Regular.ttf"); */
    src: url("font/Lato/Lato-Black.ttf");
    /* src: url("font/8th_element/8thelementb2.ttf"); */
    font-size: 73;
    font-style: italic
  }

.site-heading h1 {
    /* font-family: KeeponTruckin !important; */
    color: #ffffff !important;
    /* background: #00000073; */
    background: #e197970a;
    border-radius: 40px;
    background-clip: border-box;
    padding: 10px;
    padding-left: 9px;
    padding-right: 9px;
    /* display: inline !important; */
    /* margin-left: 58px; */
    /* margin-right: 58px; */
    border-: 17px;
    font-family: et-book !important;
    font-size: 73px;
}

.subheading {
    /* background: #1b1b1b70; */
    background: #e197970a;
    border-radius: 20px;
    background-clip: border-box;
    padding: 3px;
    padding-left: 9px;
    padding-right: 9px;
    display: inline !important;
    color: #ffffff !important;
    font-style: italic;
}

/* @font-face {
    font-family: 'KeeponTruckin';
    src: url('font/the_wildeast/The Wildeast.ttf') format('truetype');
    src: url('font/8th_element/8thelementbi.ttf') format('truetype');
} */

/* article {
    overflow-x: initial !important; 
} */

/* div.post-heading h1 {

} */


/* h2.subheading {
    background: #ada8a8ad !important;
    border-radius: 20px;
    background-clip: border-box;
    padding: 3px;
    padding-left: 9px;
    padding-right: 9px;
    display: inline !important;
    color: saddlebrown !important;
} */